@font-face {
    font-family: BDNippori;
    src: url("BD_Nippori_05.otf") format("opentype");
}

body,
html {
    overscroll-behavior-x: none;
    background-color: rgb(47, 47, 61);
    font-family: 'Poppins', sans-serif;
    user-select: none;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    overflow-x: hidden;
    min-height: 100vh;
}

#main-title {
    width: 85vw;
    position: relative;
}

#main-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2.5vw;
    left: 0;
    bottom: 0;
    background-color: #00D586;
    /*animation: title-slime 2s infinite alternate;*/
    z-index: -5;
}

@keyframes title-slime {
    0% {
        top: 0%;
        height: 5%;
    }

    27.5% {
        height: 5%;
    }

    50% {
        height: 100%;
        top: 0%;
    }

    72.5% {
        height: 5%;
        top: 95%;
    }

    75% {
        top: 95%;
        height: 5%;
    }

    100% {
        top: 95%;
        height: 5%;
    }
}

.selector {
    touch-action: manipulation;
}

.section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    top: 0;
    position: absolute;
    overflow-x: hidden;
}

h1 {
    font-size: 14vw;
    color: white;
    margin-bottom: 5vw;
    margin-top: 2vh;
    text-align: center;
}

h2 {
    font-size: 7vw;
    color: rgb(224, 221, 215);
    margin: 2vw;
}

h3 {
    font-size: 6vw;
    color: rgb(245, 178, 78);
    font-family: BDNippori;
    font-weight: 100;
}

h4 {
    font-size: 5vw;
    color: rgb(224, 221, 215);
    margin: 1vw;
    text-align: center;
}

h5 {
    font-size: 3.5vw;
    color: rgb(224, 221, 215);
    margin: 1vw;
    text-align: center;
}

p {
    font-size: 10vw;
    margin: 0;
    color: rgb(184, 178, 178);
    transform: rotate(90deg) translate(32vh, 0vw);
    width: 15vw;
    height: 15vw;
    max-width: 9vh;
    max-height: 9vh;
}

select {
    background-color: rgb(184, 178, 178);
    font-size: 6vw;
    color: black;
    padding: 2vw 5vw 2vw 5vw;
    border: 1vw solid rgb(235, 229, 229);
    border-radius: 1vw;
}

input {
    background-color: rgb(184, 178, 178);
    font-size: 6vw;
    color: black;
    padding: 2vw 5vw 2vw 5vw;
    border: 1vw solid rgb(235, 229, 229);
    border-radius: 1vw;
}

input:active {
    background-color: #5D5E5F;
    border: solid 1vw rgb(245, 178, 78);
    color: white;
}

input:hover {
    background-color: #161616;
    border: solid 1vw rgb(245, 178, 78);
    color: white;
}

textarea {
    background-color: rgb(184, 178, 178);
    font-size: 4vw;
    color: black;
    border: 1vw solid rgb(235, 229, 229);
    border-radius: 1vw;
    font-family: 'Poppins', sans-serif;
    max-width: 90vw;
}

#scoring-container {
    width: 80vw;
}

#scoring-container div {
    width: 100% !important;
}

#comments-area {
    max-width: 90vw;
    padding: 0;
}

#start-button {
    background-color: rgb(207, 200, 190);
    font-size: 10vw;
    padding: 2.5vw 7vw 2.5vw 7vw;
    border-radius: 1vw;
    border: 1vw solid white;
    font-weight: 400;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.section-button {
    background-color: rgb(109, 106, 101);
    font-size: 8vw;
    padding: 2vw 6vw 2vw 6vw;
    border-radius: 1vw;
    border: 1vw solid white;
    font-weight: 400;
    margin-top: 10vh;
    margin-bottom: 12vh;
    font-family: BDNippori;
    color: rgb(255, 255, 255);
}

.section-button:active {
    background-color: #161616 !important;
    color: rgb(245, 178, 78);
}

.section-button:hover {
    background-color: #161616 !important;
    color: rgb(245, 178, 78);
}

button {
    background-color: rgb(207, 200, 190);
    font-size: 8vw;
    padding: 2vw 6vw 2vw 6vw;
    border-radius: 1vw;
    border: 1vw solid white;
    font-weight: 400;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: 'Poppins', sans-serif;
}

form {
    padding: 0;
    height: 100%;
    font-size: 8vw;
    margin: 0;
}

.horizontal-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.counter-container {
    display: flex;
    flex-direction: column;
    padding: 0.5vh !important;
}

.plus-minus-button {
    margin: 0;
    font-size: 12vw;
    padding: 0;
    width: 16vw;
    height: 16vw;
    line-height: 15vw;
    color: #C2BDB5;
    border-color: #C2BDB5;
    background-color: #5D5E5F;
    position: relative;
    z-index: 5;
    transition: color 1s, border 1s, scale 0.5s;
    scale: 1;
}

.plus-minus-button:active {
    color: rgb(66, 66, 66);
    border-color: rgb(90, 90, 90);
    transition-duration: 0s;
    scale: 0.75;
}

.plus-minus-button::after {
    content: '';
    background-color: rgb(245, 178, 78);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -5;
    opacity: 0;
    scale: 2;
    transition: opacity 0.75s, scale 0.75s;
    border-radius: 1000000px;
}

.plus-minus-button:active::after {
    scale: 0;
    opacity: 1;
    transition-duration: 0s;
}

.counter-icon {
    width: 15vw;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

#grid-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.checkbox-label {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

.check {
    width: 7.5vw;
    height: 7.5vw;
    margin-left: 5vw;
    background-color: rgb(93, 94, 95);
    border-radius: 1vw;
    border: 1vw solid rgb(194, 189, 181);
    transition: background-color 0.25s;
}

.checkbox-label {
    background-color: rgb(66, 66, 66);
    padding: 2.5vw;
    border-radius: 2vw;
}

#respect-your-elders-image {
    width: 100vw;
    object-fit: cover;
}

#auto-image-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#auto-note-image {
    width: 100vw;
    position: relative;
}

#note-auto-button-container {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    height: 115vw;
    scale: -1 1;
}

#note-button-vertical-container-center {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#note-button-vertical-container-end {
    margin-top: 7.5vw;
    margin-right: 1.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 59vw;
}

.note-auto-button {
    background-color: transparent;
    margin: 0;
    width: 17.5vw;
    height: 17.5vw;
    border: solid 1vw rgba(255, 255, 255, 0.219);
}

#amplified-container {
    animation: amplified 4s infinite;
}

@keyframes amplified {
    0% {
        box-shadow: none;
    }
    40% {
        box-shadow: dodgerblue 0px 0px 10vw;
    }
    50% {
        box-shadow: dodgerblue 0px 0px 10vw;
    }
    60% {
        box-shadow: dodgerblue 0px 0px 10vw;
    }
    100% {
        box-shadow: none;
    }
}

#welcome-canvas {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#welcome-section {
    min-height: 100vh;
}